ColetaDeReciclaveis/ColetaDeReciclaveis/bin/*
ColetaDeReciclaveis/ColetaDeReciclaveis/obj/*

ColetaDeReciclaveis/ColetaDeReciclaveis.Android/bin/*
ColetaDeReciclaveis/ColetaDeReciclaveis.Android/obj/*

ColetaDeReciclaveis/ColetaDeReciclaveis.IOS/bin/*
ColetaDeReciclaveis/ColetaDeReciclaveis.IOS/obj/*